@model IEnumerable<CafeApp.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-primary">Menü Ekle</a>
    </p>
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr>
                <th>
                    Resim
                </th>
                <th>
                    Başlık
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Özel
                </th>
                <th>
                    Kategori
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Image == null)
                        {
                            <img src="~/Site/images/no-image.png" width="100" height="80" />
                        }
                        else
                        {
                            <img src="@item.Image" width="100" height="80" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @if (item.Ozel)
                        {
                            <button class="btn btn-success btn-sm"><i class="bi bi-check-circle"></i> Evet</button>
                        }
                        else
                        {
                            <button class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i> Hayır</button>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({

                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}



